# .env.example
# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Google Drive Integration (Service Account)
# The JSON key of your Service Account (as a single line string or base64)
GOOGLE_SERVICE_ACCOUNT_KEY=
# The ID of the folder where files will be uploaded
GOOGLE_DRIVE_FOLDER_ID=1a5CP9_DkcNkVw2Y4OnIY-1tPyM1VLawR
